:root{
    --cor-de-fundo: #ec0c96;
--branco: #fff;
--font-principal: "poppins";
--font-secundaria: "josefin sans":
--Preto: #0a0a0a;

}

.cabecalho{
    color: #dd141e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    
}
